# linting
.ruff_cache

# internal testing
dist/
notebooks/
.DS_Store
data/

# build artifacts
build/
mmseqspy.egg-info/
mmseqspy/__pycache__/

# test artifacts
.pytest_cache/
.coverage
htmlcov/
coverage.xml