# linting
.ruff_cache

# internal testing
dist/
notebooks/
.DS_Store
data/
tape/

# build artifacts
build/
mmseqspy.egg-info/
mmseqspy/__pycache__/
__pycache__

# test artifacts
.pytest_cache/
.coverage
htmlcov/
coverage.xml
tests/__pycache__/
